input[type=checkbox] {
	visibility: hidden;
}
.circular-checkboxo {
	width: 22px;
	height: 22px;
	background: #FF4500;
	margin: 10px 20px;
	border-radius: 100%;
	position: relative;
	
}
.circular-checkboxo  label {
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 100px;
	transition: all .3s ease;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;
	background: #24455e;
}
.circular-checkboxo  label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 7px;
	height: 4px;
	background:  #24455e;
	top: 9px;
	left: 7px;
	border: 3px solid  #24455e;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
}
.circular-checkboxo  input[type=checkbox]:checked + label {
	background: #FF4500;
}
.circular-checkboxo  input[type=checkbox]:checked + label:after {
	opacity: 1;
	content: '';
	position: absolute;
	width: 12px;
	height: 6px;
	background: transparent;
	top: 2px;
	left: 2px;
	border: 3px solid white;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
}


