<div id="header-box">
	<div id="banner-box"></div>
</div>
<div id="second-bar">
	<div id="blank-box">
	</div>
	
	
	<div id="header-button-box" >

		<div class="header-button-single_box">
			<button class="upperbutton" ng-click="loadDiff(0)" ng-style="{'background-color':myButton[0]}">Command <br>Summary</button>
		</div>
		<div class="header-button-single_box">
			<button class="upperbutton" ng-click="loadDiff(1)" ng-style="{'background-color':myButton[1]}">Sub-Command <br>Summary</button>
		</div>
		<div class="header-button-single_box">
			<button class="upperbutton" ng-click="loadDiff(2)" ng-style="{'background-color':myButton[2]}">Fleet Manager<br>Summary</button>
		</div>
		<div class="header-button-single_box">
			<button class="upperbutton" ng-click="loadDiff(3)" ng-style="{'background-color':myButton[3]}">General <br>Summary</button>
		</div>
	</div>
	
	<div id="user-image-box">
	
	</div>
	<div id="user-welcome-box">
		Welcome,User 
		<br>
		<b>Log-off </b>
	</div>
	
</div>

