<div id="third-bar">
	<div id="third_bar_box1">
	</div>
	<div id="third_bar_box2">
	</div>
	<div id="third_bar_box3">
	
										
										<b>140 Vehicles</b>
									
	</div>
	<div id="third_bar_box4">
	
	</div>
	<div id="third_bar_box5">
		
		<div class="small_choice_box" ng-hide="resetAllFlag">Reset all 
				<span style="float:center-right;font-weight:400%;"ng-click="removeResetAll()"><span class="glyphicon glyphicon-remove"></span>
		</div>
		
		<span ng-repeat="p in choice">
			<div class="small_choice_box">{{p[0]}} 
				<span style="float:center-right;font-weight:400%;"ng-click="removeItem($index)"><span class="glyphicon glyphicon-remove"></span>
			</div>
		</span>
	
	</div>
</div>
