<div class="left-menu-single-button-box" ng-style="{'background': 'rgba(0,0,0,'+ (boxColor[1]/ 100) +')'}">
	<div class="left-menu-button-inside-tiny_box" ng-style="{'background-color':btnSelection[1]}"> </div>
	
	<button class="leftbutton"  ng-click="myFunc(1)" ng-style="{'background': 'rgba(0,0,0,'+ (btnColor[1]/ 100) +')'}"><span class="glyphicon glyphicon-search" style="display:inline-block; width: 30px;" ng-hide="showCollapse[1]">
	</span>{{toggleText[1]}}
	<div class="hrline" ng-hide="showCollapse[1]"> </div>
	</button>
</div>

<div class="collapse-box" ng-hide="showCollapse[1]" >
	<div class="checkbox-box">
	
		<form>
			
			<div class="circular-checkbox">
				<input type="checkbox" value="checking01" id="checkboxFourInput01" name="" />
				<label for="checkboxFourInput01"></label>
			</div>
			<div class="circular-checkbox">
				<input type="checkbox" value="checking02" id="checkboxFourInput02" name="" />
				<label for="checkboxFourInput02"></label>
			</div>
			<div class="circular-checkbox">
				<input type="checkbox" value="checking03" id="checkboxFourInput03" name="" />
				<label for="checkboxFourInput03"></label>
			</div>
			
		</form>
	</div>
	
	
</div>
</div>

	



<div class="left-menu-single-button-box" ng-style="{'background': 'rgba(0,0,0,'+ (boxColor[2]/ 100) +')'}">
	<div class="left-menu-button-inside-tiny_box" ng-style="{'background-color':btnSelection[2]}"> </div>
	<button class="leftbutton"  ng-click="myFunc(2)" ng-style="{'background': 'rgba(0,0,0,'+ (btnColor[2]/ 100) +')'}"><span class="glyphicon glyphicon-search" style="display:inline-block; width: 30px;" ng-hide="showCollapse[2]">
	</span>{{toggleText[2]}}
	<div class="hrline" ng-hide="showCollapse[2]"> </div>
	</button>
</div>
<div class="collapse-box" ng-hide="showCollapse[2]">
	<div class="checkbox-box">
		<form>
			<div class="circular-checkbox">
				<input type="checkbox" value="checking10" id="checkboxFourInput10" name="checkboxFourInput10" ng-model="checkboxModel[4]" ng-click="isSelected(4)"/>
				<label for="checkboxFourInput10"></label>
			</div>
			<div class="circular-checkbox">
				<input type="checkbox" value="checking11" id="checkboxFourInput11" name="checkboxFourInput11" ng-model="checkboxModel[5]" ng-click="isSelected(5)" />
				<label for="checkboxFourInput11"></label>
			</div>
			<div class="circular-checkbox">
				<input type="checkbox" value="checking12" id="checkboxFourInput12" name="checkboxFourInput12" ng-model="checkboxModel[6]" ng-click="isSelected(6)"/>
				<label for="checkboxFourInput12"></label>
			</div>
			<div class="circular-checkbox">
				<input type="checkbox" value="checking13" id="checkboxFourInput13" name="checkboxFourInput13" ng-model="checkboxModel[7]" ng-click="isSelected(7)"/>
				<label for="checkboxFourInput13"></label>
			</div>
		</form>
	</div>
	<div class="option-box">
		Basecamp 1<br>
		Basecamp 2<br>
		Basecamp 3<br>
		Basecamp 4<br>
	</div>
</div>

<div class="left-menu-single-button-box" ng-style="{'background': 'rgba(0,0,0,'+ (boxColor[3]/ 100) +')'}">
	<div class="left-menu-button-inside-tiny_box" ng-style="{'background-color':btnSelection[3]}"> </div>
	<button class="leftbutton"  ng-click="myFunc(3)" ng-style="{'background': 'rgba(0,0,0,'+ (btnColor[3]/ 100) +')'}">Choose vehicle position</button>
</div>
<div class="collapse-box" ng-hide="showCollapse[3]">
	<div class="checkbox-box">
		<form>
			<div class="circular-checkbox">
				<input type="checkbox" value="checking31" id="checkboxFourInput31" name="" ng-model="checkboxModel[8]" ng-click="isSelected(8)"/>
				<label for="checkboxFourInput31"></label>
			</div>
			<div class="circular-checkbox">
				<input type="checkbox" value="checking32" id="checkboxFourInput32" name="" ng-model="checkboxModel[9]" ng-click="isSelected(9)" />
				<label for="checkboxFourInput32"></label>
			</div>
			
		</form>
	</div>
	<div class="option-box">
		Inside Bootcamp<br>
		Outside Bootcamp<br>
	</div>
</div>
<div class="left-menu-single-button-box" ng-style="{'background': 'rgba(0,0,0,'+ (boxColor[4]/ 100) +')'}">
	<div class="left-menu-button-inside-tiny_box" ng-style="{'background-color':btnSelection[4]}"> </div>
	<button class="leftbutton"  ng-click="myFunc(4)" ng-style="{'background': 'rgba(0,0,0,'+ (btnColor[4]/ 100) +')'}">Choose estimated mission time range</button>
</div>
<div class="collapse-box" ng-hide="showCollapse[4]">
	<form>
	<div ng-controller="myCtrl">
	
		<p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt1" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
		 <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup ng-model="dt2" is-open="popup2.opened" datepicker-options="dateOptions2" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
	</div>	
	</form>
</div>

<div class="left-menu-single-button-box" ng-style="{'background': 'rgba(0,0,0,'+ (boxColor[5]/ 100) +')'}">
	<div class="left-menu-button-inside-tiny_box" ng-style="{'background-color':btnSelection[5]}"> </div>
	<button class="leftbutton"  ng-click="myFunc(5)" ng-style="{'background': 'rgba(0,0,0,'+ (btnColor[5]/ 100) +')'}">Choose critical status</button>
</div>
<div class="collapse-box" ng-hide="showCollapse[5]">
	<div class="checkbox-box">
		<form>
			<div class="circular-checkboxr">
				<input type="checkbox" value="checking51" id="checkboxFourInput51" name="" ng-model="checkboxModel[10]" ng-click="isSelected(10)"/>
				<label for="checkboxFourInput51"></label>
			</div>
			<div class="circular-checkboxo">
				<input type="checkbox" value="checking52" id="checkboxFourInput52" name="" ng-model="checkboxModel[11]" ng-click="isSelected(11)"/>
				<label for="checkboxFourInput52"></label>
			</div>
			<div class="circular-checkboxy">
				<input type="checkbox" value="checking53" id="checkboxFourInput53" name="" ng-model="checkboxModel[12]" ng-click="isSelected(12)"/>
				<label for="checkboxFourInput53"></label>
			</div>
			<div class="circular-checkboxp">
				<input type="checkbox" value="checking54" id="checkboxFourInput54" name="" ng-model="checkboxModel[13]" ng-click="isSelected(13)"/>
				<label for="checkboxFourInput54"></label>
			</div>
		</form>
	</div>
	<div class="option-box1">
		Critical <br>
		Major<br>
		Minor<br>
		Warning<br>
	</div>
</div>

<div class="left-menu-single-button-box" ng-style="{'background': 'rgba(0,0,0,'+ (boxColor[6]/ 100) +')'}">
	<div class="left-menu-button-inside-tiny_box" ng-style="{'background-color':btnSelection[6]}"> </div>
	<button class="leftbutton"  ng-click="myFunc(6)" ng-style="{'background': 'rgba(0,0,0,'+ (btnColor[6]/ 100) +')'}">Choose brigade</button>
</div>
<div class="collapse-box" ng-hide="showCollapse[6]">
	<form>
		<div class="circular-checkbox">
			<input type="checkbox" value="checking61" id="checkboxFourInput61" name="" />
			<label for="checkboxFourInput61"></label>
		</div>
		<div class="circular-checkbox">
			<input type="checkbox" value="checking62" id="checkboxFourInput62" name="" />
			<label for="checkboxFourInput62"></label>
		</div>
		<div class="circular-checkbox">
			<input type="checkbox" value="checking63" id="checkboxFourInput63" name="" />
			<label for="checkboxFourInput63"></label>
		</div>
		<div class="circular-checkbox">
			<input type="checkbox" value="checking64" id="checkboxFourInput64" name="" />
			<label for="checkboxFourInput64"></label>
		</div>
	</form>
</div>
